.header-main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
}

.header-title {
  text-align: center;
  font-size: 2.3rem;
  color: darkgreen;
  width: 85vw;
  height: auto;
  padding-top: 10px;
  padding-left: 8%;
}
